
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Thasadith', sans-serif;
}

.navbar-main{ 
 
        
        .navbar-main__menuIcon{
            position: absolute;
            position: fixed;
            top: 0;
            right: 0;
            color: rgb(255, 255, 255);
            font-size: 32px;
            border-radius: 16px;
            text-align: right;
            padding: 1rem;
            border-radius: 0;
            border-bottom-left-radius: 32px;
            background-color: rgb(78, 78, 78);
            margin: 0;
            z-index: 100;
            
          
        }    
        .navbar-main__items{   
            box-shadow: 0px 3px 69px -19px rgba(0,0,0,0.75);
            position: absolute;
            position: fixed;
            display: flex;
           
            width: 60vw; 
            top: 0;
            right: 0; 
            height: 100vh;
            background-color: rgb(78, 78, 78);
            transition-duration: 0.5s;
            transition-property: transform ;
            transition-timing-function: cubic-bezier(.99, .01, -.01, 1.01);
            
            ul{
                   padding: 0; 
                   width: 100%;
                   margin-top: 20vh;
                
                margin: 0;
                #home{
                    margin-top: 128px
                }
                .navbar-main__item{
                     transition-duration: 0.25s;
                    transition-property: background-color, color;  
                    list-style: none;
                    padding: 1rem;
                    
                    text-align: center;
                    
                    a{
                        margin: 0;
                        text-decoration: none;
                        color: white;
                        padding: 1rem ;
                        font-size: 1.4rem;
                        width: 100%;
                       
                    }
    
                }
                .navbar-main__item:hover{
                    background-color: rgb(255, 255, 255);
                    a{
                        color: black;
                    }
                }
            }
    
    
    }
}

/* HEADER */

 .header-container{
    background-image: url('/images/header-img.jpg');
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    background-attachment: fixed;
    height: 100vh;
  
    .background-shader{
        background: rgba(0, 0, 0, 0.3);
        height: 100%;
        display: flex;
        align-items: center;
    }
    .header-text{ 
        color: white;
        flex-direction: column;
        text-align: center;
      
        .header-text__main {
            padding: 1rem;
        }
        .header-text__secondary{
            padding: 1rem;
            a{
                color: white;
                text-decoration: none;
                font-size: 1.2rem;
            }
        }
    }
}
.container{
    max-width: 80%;
    margin: 0 auto; 
}

.hideMenu{
    transform: translateX(1000px);
    border-radius: none;  
}

.about-header__text-heading{
    text-align: center;
    padding: 1rem;
}

.about-main__text{
    padding: 1rem;
    text-align: center;
}

.about-tech__box-html{
    .tech-icon{
        color: #e34f26;
    }
}
.about-tech__box-css{
    .tech-icon{
        color: #146eb0;
    }
}
.about-tech__box-js{
    .tech-icon{
        color: #f0db4f;
    }
}
.about-tech__box{
    width: 100%;
    margin: 1rem auto;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 16px;
    padding: 16px;
    box-shadow: 11px 11px 10px -6px rgba(222,222,222,1);
    
    h3{
        font-size: 2rem;
    } 
    
    .tech-icon{
        font-size: 10rem;
        text-align: center;
        width: 100%;
}
}
/* PROJECTS */
.project-container{
    margin: 32px;
    border: 1px solid black;
    border-radius: 16px;
    padding: 32px;
    width: fit-content;
}
.project__image img{  
    border-radius: 16px;
}
.projects-container{
    background-color: rgb(235, 235, 235);
    padding: 32px;
}
.project-container__heading{
    font-size: 2rem;
    padding: 1rem;
}
/* CONTACTS */
.contacts-container{
    height: 6rem;
    text-align: center;
    .contacts-heading{
        padding: 2rem;
        font-size: 4rem;
    }
    .contacts-info{
        line-height: 4rem;
        font-size: 2rem;
    }
}


@media (min-width: 900px){
    .container{
        max-width: 100%;
        margin: 0;
    }
    .header-text{
        width: 100%;
        font-size: 2rem;
    }
    .navbar-main__menuIcon{
        display: none;
    }
    
    .hideMenu{
        transform: translateX(0); 
    }

    .navbar-main{
    .navbar-main__items{
       height: fit-content;
              width: 100%;
              background: rgba(78, 78, 78, 0.692);   
        ul{
            #home{
                margin-top: 0px
            }
            margin-top: 0;
            display: flex;
            justify-content: space-around;
            .navbar-main__item{
                width: 25%;
                a{font-size: 1.8rem;}
            }
          
    }
    }
    .navbar-main__item{
        display: inline-block;
    }
}
.about-tech-container {
    height: 90%;
}
.tech-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 100%;
    margin: 32px;
}
.about-tech__box{
    width: 80%; 
    height: 100%;
}
.project-container{
    width: 90%;
    margin: auto;
    height: 100%;
}
    .projects-containers{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
    }
}
 @media (min-width: 1500px){
    .container{
        width: 100vw;
        margin: 0;
    }
    .navbar-main{
        .navbar-main__items{
           height: fit-content;
                  width: 100%;
                  background: rgba(78, 78, 78, 0.692);
            ul{
                #home{
                    margin-top: 0px
                }
                margin-top: 0;
                display: flex;
                justify-content: space-around;
                
                .navbar-main__item{
                    width: 25%;
                    a{font-size: 1.3rem;}
                }
              
        }
        }
    }
    .about-tech-container {
        height: 90%;
    }
    .tech-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        height: 100%;
        margin: 32px;
    }
    .about-tech__box{
        width: 80%;
        height: 100%;
    }
 }